---
import EmailIcon from "../../components/icons/EmailIcon.astro";
import GithubIcon from "../../components/icons/GithubIcon.astro";
import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
import Subtitle from "../../components/opciones/Subtitle.astro";
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
import links from "../../data/experiencia.json";
---

<Section>
  <!-- Texto y botones -->
  <div class="order-2 md:order-1 md:pr-12 text-center md:text-left">
    <TitleSection>Experiencia</TitleSection>
    <div class="relative">
      <div class="absolute left-2 top-0 bottom-0 w-1 bg-blue-100 rounded"></div>
      {
        links.map((link, idx) => (
          <div class="relative mb-12 group">
            <div class="p-6 bg-white rounded-lg shadow group-hover:shadow-xl transition w-full">
              <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                <div>
                  <Subtitle>{link.name}</Subtitle>
                  <p class="mb-6">{link.position}</p>
                </div>
                <div class="flex items-center gap-2 text-xs text-gray-500 mt-2 md:mt-0">
                  <span>
                    {link.startDate} -{" "}
                    {link.endDate && link.endDate.trim() !== ""
                      ? link.endDate
                      : "Actualidad"}
                  </span>
                  {link.location && (
                    <span class="ml-4">📍 {link.location}</span>
                  )}
                </div>
              </div>
              <p class="mb-6">{link.summary}</p>

              {link.url && (
                <a
                  href={link.url}
                  target="_blank"
                >
                  <Subtitle>Ver mas</Subtitle>
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Section>
