---
import { Code } from "astro/components";
import EmailIcon from "../../components/icons/EmailIcon.astro";
import GithubIcon from "../../components/icons/GithubIcon.astro";
import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
import BordeadoIcon from "../../components/opciones/BordeadoIcon.astro";
import Chip from "../../components/opciones/Chip.astro";
import Subtitle from "../../components/opciones/Subtitle.astro";
import TextResalt from "../../components/opciones/TextResalt.astro";
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
import links from "../../data/proyectos.json";
import CodeIcon from "../../components/icons/CodeIcon.astro";
import DeployIcon from "../../components/icons/DeployIcon.astro";
---

<Section id="proyectos">
  <!-- Texto y botones -->
  <div class="order-2 md:order-1 text-center md:text-left">
    <TitleSection>Proyectos</TitleSection>

    <div class="grid gap-8 md:grid-cols-2 items-stretch">
      {
        links.map((link, idx) => (
          <div class="w-full h-full flex">
            <div class="flex flex-col p-3 rounded-lg shadow-2xl w-full h-full transition-all duration-300 group hover:shadow-[0_8px_32px_0_rgba(0,0,0,0.35)] hover:scale-105">
              <>
                <div>
                  <div class="flex flex-col md:flex-row md:items-start md:justify-between">
                    <div>
                      <Subtitle>{link.name}</Subtitle>
                    </div>
                  </div>
                  <p>{link.description}</p>
                </div>
                <div>
                  {link.tech && link.tech.length > 0 && (
                    <div class="flex flex-wrap gap-2 mt-3 justify-center">
                      {link.tech.map((tec) => (
                        <Chip text={tec} />
                      ))}
                    </div>
                  )}
                </div>
              </>
              <div class="flex flex-col items-center justify-center gap-4 md:flex-row md:justify-center mt-4">
                <BordeadoIcon link={link.url}>
                  <CodeIcon />
                  Código
                </BordeadoIcon>
                <BordeadoIcon link={link.despliegue}>
                  <DeployIcon />
                  Demo
                </BordeadoIcon>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Section>
